<h1>All Places</h1>
<% @places.each do |place| %>
  <h3>NAME: <%= place.name %></h3>
  <p>DESCRIPTION: <%= place.description %></p>
  <p>ADDRESS: <%= place.address %></p>
  <p>USER ID: <%= place.user_id %></p>
<% end %>
